# Archivos temporales de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
venv/
env/
.venv/

# Archivos de bases de datos temporales
*.db
*.sqlite3

# Logs
*.log

# Archivos temporales de sistema
*.tmp
*.bak
